<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>
  <p>This all the cocktails you can drink</p>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <% end %>
</ul>

<%= link_to 'Add a new Cocktail', new_cocktail_path %>
